{
  "API_BASE_URL": "https://2cec2c83-4fda-46d4-8aba-bd02cb21177e.mock.pstmn.io/api/",
  "CONNECT_TIMEOUT": "100000",
  "SEND_TIMEOUT": "1000000",
  "RECEIVE_TIMEOUT": "1000000",
  "RECEIVE_DATA_WHEN_STATUS_ERROR": "true"
}