<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060161913171-81tqkgkcqusecm5mv2qu1a6n0kcusjb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060161913171-81tqkgkcqusecm5mv2qu1a6n0kcusjb6</string>
	<key>API_KEY</key>
	<string>AIzaSyAkWff8DcTgZEC62yTSak6B9p2Y4JQ8_Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>1060161913171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ps.app.flutterBond.staging</string>
	<key>PROJECT_ID</key>
	<string>flutter-bond-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bond-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060161913171:ios:a2ddfea873792ada55a1a6</string>
</dict>
</plist>