name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Create env file
        env:
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          CONNECT_TIMEOUT: 100000
          SEND_TIMEOUT: 1000000
          RECEIVE_TIMEOUT: 1000000
          RECEIVE_DATA_WHEN_STATUS_ERROR: true
        run: |
          echo "API_BASE_URL=$API_BASE_URL" >> .env
          echo "CONNECT_TIMEOUT=$CONNECT_TIMEOUT" >> .env
          echo "SEND_TIMEOUT=$SEND_TIMEOUT" >> .env
          echo "RECEIVE_TIMEOUT=$RECEIVE_TIMEOUT" >> .env
          echo "RECEIVE_DATA_WHEN_STATUS_ERROR=$RECEIVE_DATA_WHEN_STATUS_ERROR" >> .env

      - name: Create Staging env file
        env:
          API_BASE_URL: ${{ secrets.STAGING_API_BASE_URL}}
          CONNECT_TIMEOUT: 100000
          SEND_TIMEOUT: 1000000
          RECEIVE_TIMEOUT: 1000000
          RECEIVE_DATA_WHEN_STATUS_ERROR: true
        run: |
          echo "API_BASE_URL=$STAGING_API_BASE_URL" >> .env.staging
          echo "CONNECT_TIMEOUT=$CONNECT_TIMEOUT" >> .env.staging
          echo "SEND_TIMEOUT=$SEND_TIMEOUT" >> .env.staging
          echo "RECEIVE_TIMEOUT=$RECEIVE_TIMEOUT" >> .env.staging
          echo "RECEIVE_DATA_WHEN_STATUS_ERROR=$RECEIVE_DATA_WHEN_STATUS_ERROR" >> .env.staging

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Format
        run: flutter format .

      - name: Analyze
        run: flutter analyze lib

      - name: Build & Test
        run: flutter build appbundle -t lib/main_production.dart --flavor production